.mainWidth {
    margin: auto;
    width: 50%;
}

h1 {
    padding-bottom: 15px;
    width: 600px;
}

p {
    margin-left: 10px;
}
.crud {
    position: absolute;
    margin: 30px 0px 0px 300px;
}

h2 {
    text-align: center;
	font: 1.5em Verdana Arial, Helvetica, sans-serif;
	text-transform: uppercase; 
	letter-spacing: 4px;
	border-style: outset;
}

ol {
    margin-bottom: 40px;
}
body {
    width:600;
}

.col1 {
    text-align: left;
    width: 50px;
    border-right: ridge;
    border-bottom: ridge;
}

.col2 {
    text-transform: capitalize;
    border-right: ridge;
    border-bottom: ridge;
}

.col3 {
    color: red;
    border-bottom: ridge;
}

table, th, td {
    font: 1em Verdana, Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: #f1f1f1;
}

td {
    width: 200px;
}

th {
    text-align: left;
    height: 50px;
    font-weight: bold;
    border-bottom: ridge;
    color: black !important;
}

a.button {
	margin: 5px;    
	float:left;
	background-color:#0033CC; /* blue */
	padding:15px 20px;
	color:#FFFFFF;
	text-decoration:none;
	border-radius:6px;
	transition:background 0.6s linear 0s, color 0.6s linear 0s;	
}

/*a.button:hover {*/
	background-color:#000080; /* navy */
/*}*/
